/**
 * The Sass in this file is provided for the purposes of styling documentation.
 * It is not intended to house styling specific to the component itself.
 */

@import "../../node_modules/rivet-uits/sass/core/variables";

.rvt-typeset h1 {
  font-size: $ts-xl;
  line-height: 1.1;
}

.rvt-typeset h2 {
  font-size: 1.75rem;
}

.rvt-typeset h3 {
  font-size: 1.5rem;
}

.rvt-typeset h4,
.rvt-typeset h5,
.rvt-typeset h6 {
  font-size: $ts-sm;
}

.rvt-typeset h1,
.rvt-typeset h2,
.rvt-typeset h3,
.rvt-typeset h4,
.rvt-typeset h5,
.rvt-typeset h6 {
  font-weight: $font-weight-bold;
  margin-top: 2rem;
}

.rvt-table-cells tbody tr td {
  vertical-align: top;

  &:first-of-type {
    width: 350px;
  }
}

.rvt-example {
  margin-top: $md;

  &__demo {
    border: 1px solid $color-black--200;
    border-top-right-radius: $xxs;
    border-top-left-radius: $xxs;
    padding: $sm;
  }

  &__code {
    background-color: $color-subtle-gray;
    border: 1px solid $color-black--200;
    border-top: none;
    border-bottom-right-radius: $xxs;
    border-bottom-left-radius: $xxs;
    position: relative;

    pre {
      margin: 0;

      code {
        font-size: $ts-xs;
        font-family: "Monaco", "Menolo", "Andale mono", monospace;
        padding: $sm;
      }
    }
  }

  &__code--only {
    border: 1px solid $color-black--200;
    border-radius: $xxs;
    position: relative;
  }
}