/**
 * The Sass in this file is provided for the purposes of styling documentation.
 * It is not intended to house styling specific to the component itself.
 */

.rvt-typeset h1 {
  font-size: 2.5625rem;
  line-height: 1.1;
}

.rvt-typeset h2 {
  font-size: 1.75rem;
}

.rvt-typeset h3 {
  font-size: 1.5rem;
}

.rvt-typeset h4,
.rvt-typeset h5,
.rvt-typeset h6 {
  font-size: 1.25rem;
}

.rvt-typeset h1,
.rvt-typeset h2,
.rvt-typeset h3,
.rvt-typeset h4,
.rvt-typeset h5,
.rvt-typeset h6 {
  font-weight: 700;
  margin-top: 2rem;
}

.rvt-table-cells tbody tr td {
  vertical-align: top;

  &:first-of-type {
    width: 350px;
  }
}

.rvt-example {
  margin-top: 1.5rem;

  &__demo {
    border: 1px solid #dddddd;
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    padding: 1.25rem;
  }

  &__code {
    background-color: #fafafa;
    border: 1px solid #dddddd;
    border-top: none;
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
    position: relative;

    pre {
      margin: 0;

      code {
        font-size: .875rem;
        font-family: "Monaco", "Menolo", "Andale mono", monospace;
        padding: 1.25rem;
      }
    }
  }

  &__code--only {
    border: 1px solid #dddddd;
    border-radius: .25rem;
    position: relative;
  }
}